@import url('https://fonts.google.com/specimen/DM+Sans'); 

html, body, [class*="css"] {
    
    font-family: 'DM Sans', sans-serif; 
    box-sizing: content-box;

}
img {
    z-index: 999;
}
.shadow {filter: drop-shadow(8px 8px 10px rgb(24, 28, 24));}


div[data-testid="stBlock"] {
   
   
    padding: 1% 0% 1% 2%;
    margin-left:5px;
 
    flex-wrap: nowrap;
 
 }
 div.css-rncmk8 {
     flex-wrap: nowrap;
     background: linear-gradient(to left, #2b5335, #191919);
 }

input {
    color: #1ED760
}
.st-gb {
    color: #1ED760
}
